 body{
    background-image: url("../images/fire.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    color: #310631;
    max-width: 750px;
    margin: auto;
    height: 750px;
    background-image: url("../images/bera.jpg");
    background-size: cover;
    border-radius: 8px;
    padding: 10px;
}


input {
    display: block;
    padding: 15px;
    margin: auto;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    
}
